* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: coconut;
    background-color: #90C0E6;
    font-size: 20px;
}

@font-face {
    font-family: coconut;
    src: url(ShantellSans-Italic[BNCE\,INFM\,SPAC\,wght].ttf);
}

.cabecalho {
    background-color: #000000;
    padding: 15px;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
}

.logo h1 {
    margin: 0;
}

.menu {
    display: flex;
    justify-content: space-between;
    margin-right: 5%; 
}

.menu-item {
    margin-right: 20px;
}

.menu-item:last-child {
    margin-right: 0;
}

.menu-item a {
    color: white;
    text-decoration: none;
}

.conteudo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12%; 
    
}

.texto {
    margin-right: 5%;
    margin-left: 1%;
}

.texto h1 {
    font-size: 30px;
}

.texto h2 {
    font-weight: normal;
    font-size: 20px;
}

.imagem1 {
    margin-right: 40px;
}

.rodape {
    width: 100%;
    background-color: #000000;
    color: white;
    padding: 30px;
    bottom: 0;
    position: fixed;
}

.conteudo-rodape {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-rodape {
    display: flex;
}

.menu-item {
    margin-right: 20px;
}

.menu-item:last-child {
    margin-right: 0;
}

.menu-item a {
    color: white;
    text-decoration: none;
}
